@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --font-inter: 'Inter', system-ui, sans-serif;
  --font-great-vibes: 'Great Vibes', cursive;
}

body {
  font-family: var(--font-inter);
}

.font-handwriting {
  font-family: var(--font-great-vibes) !important;
}
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loader-overlay.finished {
  opacity: 0;
  pointer-events: none;
}
